function Main.main 1
push constant 50
push constant 60
push constant 4
push constant 1
push constant 1
push constant 3
push constant 2
neg
push constant 50
call CircleGame.new 8
pop local 0
push local 0
call CircleGame.run 1
pop temp 0
push local 0
call CircleGame.dispose 1
pop temp 0
push constant 0
return
