function Main.main 3
    call Screen.clearScreen 0
    pop temp 0
    push constant 13257
    call Random.set_seed 1
    pop temp 0
    push constant 51
    push constant 10
    push constant 50
    call Terrain.Init 3
    pop temp 0
    push constant 0
    return