function Terrain.Init 0
push argument 0
pop static 0
push static 0
push constant 5
add
call Array.new 1
pop static 14
push argument 1
push argument 2
call Ground.Init 2
pop temp 0
push constant 0
push static 14
add
push constant 500
neg
push constant 254
push constant 1
call Ground.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop static 1
label WHILE_EXP0
push static 1
push static 0
lt
not
if-goto WHILE_END0
push static 1
push constant 1
sub
push static 14
add
pop pointer 1
push that 0
pop static 15
push static 15
call Ground.get_end_x 1
pop static 9
push static 15
call Ground.get_end_y 1
pop static 10
push static 15
call Ground.get_dir 1
pop static 13
push static 1
push static 14
add
push static 9
push static 10
push static 13
call Ground.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1
push constant 1
add
pop static 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop static 1
label WHILE_EXP1
push static 1
push static 0
lt
not
if-goto WHILE_END1
push static 1
push static 14
add
pop pointer 1
push that 0
pop static 15
push static 15
call Ground.get_str_x 1
push constant 0
gt
push static 15
call Ground.get_end_x 1
push constant 511
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 15
push constant 1
call Ground.DrawOrClear 2
pop temp 0
label IF_FALSE0
push static 1
push constant 1
add
pop static 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 10
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 501
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Terrain.Shifting 0
push constant 0
pop static 1
label WHILE_EXP0
push static 1
push static 0
lt
not
if-goto WHILE_END0
push static 1
push static 14
add
pop pointer 1
push that 0
pop static 15
push static 15
call Ground.get_str_x 1
push constant 0
gt
push static 15
call Ground.get_end_x 1
push constant 511
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 15
push constant 0
call Ground.DrawOrClear 2
pop temp 0
label IF_FALSE0
push static 15
push argument 0
call Ground.upd_xs 2
pop temp 0
push static 15
call Ground.get_str_x 1
push constant 0
gt
push static 15
call Ground.get_end_x 1
push constant 511
lt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 15
push constant 1
call Ground.DrawOrClear 2
pop temp 0
label IF_FALSE1
push static 1
push constant 1
add
pop static 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 10
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 501
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Terrain.checkCollision 0
push constant 0
pop static 3
push constant 0
pop static 5
push constant 0
pop static 1
label WHILE_EXP0
push static 1
push static 0
lt
not
if-goto WHILE_END0
push static 1
push static 14
add
pop pointer 1
push that 0
pop static 15
push static 15
call Ground.get_end_x 1
push static 15
call Ground.get_str_x 1
sub
pop static 4
push static 15
call Ground.get_end_y 1
push static 15
call Ground.get_str_y 1
sub
pop static 6
push argument 0
push static 15
call Ground.get_str_x 1
sub
pop static 7
push argument 1
push static 15
call Ground.get_str_y 1
sub
pop static 8
push argument 2
neg
push static 7
lt
push static 7
push static 4
push argument 2
add
lt
and
push argument 2
neg
push static 8
lt
push static 8
push static 6
push argument 2
add
lt
and
push argument 2
push static 8
gt
push static 8
push static 6
push argument 2
sub
gt
and
or
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 4
push static 8
call Math.multiply 2
push static 6
push static 7
call Math.multiply 2
sub
pop static 11
push static 4
push static 4
call Math.multiply 2
push static 6
push static 6
call Math.multiply 2
add
pop static 12
push static 11
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push static 11
neg
pop static 11
label IF_FALSE1
push static 15
call Ground.get_type 1
push constant 1
eq
push static 11
push static 11
call Math.multiply 2
push static 12
push argument 2
call Math.multiply 2
push argument 2
call Math.multiply 2
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
neg
return
label IF_FALSE2
push static 15
call Ground.get_type 1
push constant 0
eq
push static 11
push static 11
call Math.multiply 2
push static 12
push argument 2
call Math.multiply 2
push argument 2
call Math.multiply 2
lt
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
return
label IF_FALSE3
label IF_FALSE0
push static 1
push constant 1
add
pop static 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
