function Terrain.Init 6
    push argument 0
    pop static 0
    push static 0
    push constant 5
    add
    call Array.new 1
    pop static 1
    push argument 1
    push argument 2
    call Ground.Init 2
    pop temp 0
    push constant 0
    push static 1
    add
    push constant 250
    neg
    push constant 254
    push constant 1
    call Ground.new 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push constant 1
    pop local 0
label Terrain_0
    push local 0
    push static 0
    lt
    not
    if-goto Terrain_1
    push local 0
    push constant 1
    sub
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 5
    push local 5
    call Ground.get_end_x 1
    pop local 2
    push local 5
    call Ground.get_end_y 1
    pop local 3
    push local 5
    call Ground.get_dir 1
    pop local 4
    push local 0
    push static 1
    add
    push local 2
    push local 3
    push local 4
    call Ground.new 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Terrain_0
label Terrain_1
    push constant 0
    pop local 0
label Terrain_2
    push local 0
    push static 0
    lt
    not
    if-goto Terrain_3
    push local 0
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 5
    push local 5
    call Ground.get_str_x 1
    push constant 0
    gt
    push local 5
    call Ground.get_end_x 1
    push constant 511
    lt
    and
    not
    if-goto Terrain_5
    push local 5
    push constant 1
    call Ground.DrawOrClear 2
    pop temp 0
    goto Terrain_4
label Terrain_5
label Terrain_4
    push local 0
    push constant 1
    add
    pop local 0
    goto Terrain_2
label Terrain_3
    push constant 0
    return
function Terrain.Shifting 2
    push constant 0
    pop local 0
label Terrain_6
    push local 0
    push static 0
    lt
    not
    if-goto Terrain_7
    push local 0
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    call Ground.get_str_x 1
    push constant 0
    gt
    push local 1
    call Ground.get_end_x 1
    push constant 511
    lt
    and
    not
    if-goto Terrain_9
    push local 1
    push constant 0
    call Ground.DrawOrClear 2
    pop temp 0
    goto Terrain_8
label Terrain_9
label Terrain_8
    push local 1
    push argument 0
    call Ground.upd_xs 2
    pop temp 0
    push local 1
    call Ground.get_str_x 1
    push constant 0
    gt
    push local 1
    call Ground.get_end_x 1
    push constant 511
    lt
    and
    not
    if-goto Terrain_11
    push local 1
    push constant 1
    call Ground.DrawOrClear 2
    pop temp 0
    goto Terrain_10
label Terrain_11
label Terrain_10
    push local 0
    push constant 1
    add
    pop local 0
    goto Terrain_6
label Terrain_7
    push constant 0
    return
function Terrain.checkCollision 10
    push constant 0
    pop local 1
    push constant 0
    pop local 2
    push constant 0
    pop local 0
label Terrain_12
    push local 0
    push static 0
    lt
    not
    if-goto Terrain_13
    push local 0
    push static 1
    add
    pop pointer 1
    push that 0
    pop local 9
    push local 9
    call Ground.get_end_x 1
    push local 9
    call Ground.get_str_x 1
    sub
    pop local 3
    push local 9
    call Ground.get_end_y 1
    push local 9
    call Ground.get_str_y 1
    sub
    pop local 4
    push argument 0
    push local 9
    call Ground.get_str_x 1
    sub
    pop local 5
    push argument 1
    push local 9
    call Ground.get_str_y 1
    sub
    pop local 6
    push argument 2
    neg
    push local 5
    lt
    push local 5
    push local 3
    push argument 2
    add
    lt
    and
    push argument 2
    neg
    push local 6
    lt
    and
    push local 6
    push local 4
    push argument 2
    add
    lt
    and
    not
    if-goto Terrain_15
    push local 3
    push local 6
    call Math.multiply 2
    push local 4
    push local 5
    call Math.multiply 2
    sub
    pop local 7
    push local 3
    push local 3
    call Math.multiply 2
    push local 4
    add
    push local 4
    call Math.multiply 2
    pop local 8
    push local 9
    call Ground.get_type 1
    push constant 1
    eq
    push local 7
    push local 7
    call Math.multiply 2
    push local 8
    push argument 2
    call Math.multiply 2
    push argument 2
    call Math.multiply 2
    lt
    and
    not
    if-goto Terrain_17
    push constant 1
    neg
    return
    goto Terrain_16
label Terrain_17
label Terrain_16
    push local 9
    call Ground.get_type 1
    push constant 0
    eq
    push local 7
    push local 7
    call Math.multiply 2
    push local 8
    push argument 2
    call Math.multiply 2
    push argument 2
    call Math.multiply 2
    lt
    and
    not
    if-goto Terrain_19
    push constant 1
    return
    goto Terrain_18
label Terrain_19
label Terrain_18
    goto Terrain_14
label Terrain_15
label Terrain_14
    push local 0
    push constant 1
    add
    pop local 0
    goto Terrain_12
label Terrain_13
    push constant 0
    return