function Circle.new 0
push constant 10
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push argument 5
pop this 5
push argument 6
pop this 6
push argument 7
pop this 7
push constant 31
call Array.new 1
pop this 8
push constant 31
call Array.new 1
pop this 9
push constant 0
push this 8
add
push constant 3
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 8
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 8
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 8
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 8
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 8
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 8
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push this 9
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 17
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 18
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 19
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 20
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 21
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 22
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 23
push this 9
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 24
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 25
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 26
push this 9
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 27
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 28
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 29
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 30
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
return
function Circle.getx 0
push argument 0
pop pointer 0
push this 0
return
function Circle.gety 0
push argument 0
pop pointer 0
push this 1
return
function Circle.getAngle 0
push argument 0
pop pointer 0
push this 7
return
function Circle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Circle.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 2
sub
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 1
push constant 2
sub
pop this 1
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 2
add
push this 2
add
push constant 256
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 1
push constant 2
add
pop this 1
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
push this 2
add
push constant 512
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 2
sub
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 0
push constant 2
sub
pop this 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.incAngle 0
push argument 0
pop pointer 0
push this 7
push constant 175
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push constant 6
add
pop this 7
label IF_FALSE0
push constant 0
return
function Circle.decAngle 0
push argument 0
pop pointer 0
push this 7
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push constant 6
sub
pop this 7
label IF_FALSE0
push constant 0
return
function Circle.printInfo 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
call String.new 1
push constant 40
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
call String.new 1
push constant 40
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 7
call String.new 1
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 180
push this 7
sub
push constant 6
call Math.divide 2
call Output.printInt 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push constant 0
return
function Circle.updateRate 1
push argument 0
pop pointer 0
push constant 180
push this 7
sub
push constant 6
call Math.divide 2
pop local 0
push local 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push local 0
push constant 30
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 30
pop local 0
label IF_FALSE1
push local 0
push this 8
add
pop pointer 1
push that 0
pop this 3
push local 0
push this 9
add
pop pointer 1
push that 0
pop this 4
push constant 0
return
function Circle.updateSpeed 0
push argument 0
pop pointer 0
push this 5
push this 3
add
pop this 5
push this 6
push this 4
add
pop this 6
push constant 0
return
function Circle.move 0
push argument 0
pop pointer 0
push pointer 0
call Circle.updateRate 1
pop temp 0
push pointer 0
call Circle.updateSpeed 1
pop temp 0
push this 0
push this 5
add
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 5
add
push this 2
add
push constant 512
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 5
add
pop this 0
label IF_FALSE1
label IF_FALSE0
push this 0
push this 5
add
push this 2
sub
push constant 1
neg
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
pop this 0
label IF_FALSE2
push this 0
push this 5
add
push this 2
add
push constant 511
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 511
push this 2
sub
pop this 0
label IF_FALSE3
push this 1
push this 6
add
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push this 6
add
push this 2
add
push constant 256
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push this 6
add
pop this 1
label IF_FALSE5
label IF_FALSE4
push this 1
push this 6
add
push this 2
sub
push constant 1
neg
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 2
pop this 1
label IF_FALSE6
push this 1
push this 6
add
push this 2
add
push constant 256
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 255
push this 2
sub
pop this 1
label IF_FALSE7
push constant 0
return
