function Circle.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push argument 4
pop this 4
push argument 5
pop this 5
push argument 6
pop this 6
push argument 7
pop this 7
call Data.new 0
pop this 8
push pointer 0
return
function Circle.getx 0
push argument 0
pop pointer 0
push this 0
return
function Circle.gety 0
push argument 0
pop pointer 0
push this 1
return
function Circle.getAngle 0
push argument 0
pop pointer 0
push this 7
return
function Circle.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function Circle.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Circle.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 2
sub
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 1
push constant 2
sub
pop this 1
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 2
add
push this 2
add
push constant 256
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 1
push constant 2
add
pop this 1
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
push this 2
add
push constant 512
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 2
sub
push this 2
sub
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Circle.erase 1
pop temp 0
push this 0
push constant 2
sub
pop this 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 3
call Sys.wait 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Circle.incAngle 0
push argument 0
pop pointer 0
push this 7
push constant 175
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push constant 6
add
pop this 7
label IF_FALSE0
push constant 0
return
function Circle.decAngle 0
push argument 0
pop pointer 0
push this 7
push constant 5
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 7
push constant 6
sub
pop this 7
label IF_FALSE0
push constant 0
return
function Circle.printInfo 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Circle.draw 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
call String.new 1
push constant 40
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 5
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 10
call String.new 1
push constant 40
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 2
call String.new 1
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 500
call Sys.wait 1
pop temp 0
push constant 0
return
function Circle.updateRate 0
push argument 0
pop pointer 0
push this 8
push constant 180
push this 7
sub
push constant 6
call Math.devide 2
call Data.getdAX 2
pop this 3
push this 8
push constant 180
push this 7
sub
push constant 6
call Math.devide 2
call Data.getdAY 2
pop this 4
push constant 0
return
function Circle.updateSpeed 0
push argument 0
pop pointer 0
push this 5
push this 3
add
pop this 5
push this 6
push this 4
add
pop this 6
push constant 0
return
function Circle.move 0
push argument 0
pop pointer 0
push this 0
push this 5
add
push constant 1
neg
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 5
add
push constant 512
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 5
add
pop this 0
label IF_FALSE1
label IF_FALSE0
push this 1
push this 6
add
push constant 1
neg
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push this 6
add
push constant 256
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 6
add
pop this 1
label IF_FALSE3
label IF_FALSE2
push pointer 0
call Circle.updateSpeed 1
pop temp 0
push pointer 0
call Circle.updateRate 1
pop temp 0
push constant 0
return
