function Ground.new 0
    push constant 6
    call Memory.alloc 1
    pop pointer 0
    push argument 2
    pop this 5
    push argument 0
    pop this 0
    push this 5
    push constant 0
    eq
    not
    if-goto Ground_1
    push argument 1
    pop this 1
    goto Ground_0
label Ground_1
    push argument 1
    push constant 6
    add
    pop this 1
label Ground_0
    push this 5
    push constant 0
    eq
    not
    if-goto Ground_3
    push constant 75
    pop this 2
    goto Ground_2
label Ground_3
    push constant 60
    pop this 2
label Ground_2
    push this 5
    push constant 0
    eq
    not
    if-goto Ground_5
    push constant 2
    pop this 3
    goto Ground_4
label Ground_5
    push constant 3
    pop this 3
label Ground_4
    push constant 7
    pop this 4
    push pointer 0
    return
function Ground.getX 0
    push argument 0
    pop pointer 0
    push this 0
    return
function Ground.getY 0
    push argument 0
    pop pointer 0
    push this 1
    return
function Ground.getLen 0
    push argument 0
    pop pointer 0
    push this 2
    return
function Ground.getType 0
    push argument 0
    pop pointer 0
    push this 5
    return
function Ground.drawObject 0
    push argument 0
    pop pointer 0
    push this 5
    push constant 0
    eq
    not
    if-goto Ground_7
    push pointer 0
    push constant 1
    call Ground.groundOnScreen 2
    pop temp 0
    goto Ground_6
label Ground_7
    push pointer 0
    push constant 1
    call Ground.trapOnScreen 2
    pop temp 0
label Ground_6
    push constant 0
    return
function Ground.clearObject 0
    push argument 0
    pop pointer 0
    push this 5
    push constant 0
    eq
    not
    if-goto Ground_9
    push pointer 0
    push constant 0
    call Ground.groundOnScreen 2
    pop temp 0
    goto Ground_8
label Ground_9
    push pointer 0
    push constant 0
    call Ground.trapOnScreen 2
    pop temp 0
label Ground_8
    push constant 0
    return
function Ground.groundOnScreen 0
    push argument 0
    pop pointer 0
    push argument 1
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push this 0
    push this 4
    add
    push this 1
    push this 3
    add
    push this 0
    push this 2
    add
    push this 4
    sub
    push this 1
    push this 3
    push constant 2
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push this 0
    push this 4
    push constant 2
    call Math.multiply 2
    add
    push this 1
    push this 3
    push constant 2
    call Math.multiply 2
    add
    push this 0
    push this 2
    add
    push this 4
    push constant 2
    call Math.multiply 2
    sub
    push this 1
    push this 3
    push constant 3
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push this 0
    push this 4
    push constant 4
    call Math.multiply 2
    add
    push this 1
    push this 3
    push constant 3
    call Math.multiply 2
    add
    push this 0
    push this 2
    add
    push this 4
    push constant 4
    call Math.multiply 2
    sub
    push this 1
    push this 3
    push constant 4
    call Math.multiply 2
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Ground.trapOnScreen 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push argument 1
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    push this 0
    push this 4
    add
    push this 1
    push this 3
    add
    push constant 1
    sub
    push this 0
    push this 2
    add
    push this 4
    sub
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
label Ground_10
    push local 0
    push this 2
    lt
    not
    if-goto Ground_11
    push this 0
    push local 0
    add
    push constant 1
    add
    push this 1
    push constant 1
    sub
    push this 0
    push local 0
    add
    push constant 5
    add
    push this 1
    push constant 1
    sub
    call Screen.drawLine 4
    pop temp 0
    push this 0
    push local 0
    add
    push constant 2
    add
    push this 1
    push constant 2
    sub
    push this 0
    push local 0
    add
    push constant 4
    add
    push this 1
    push constant 2
    sub
    call Screen.drawLine 4
    pop temp 0
    push this 0
    push local 0
    add
    push constant 3
    add
    push this 1
    push constant 3
    sub
    call Screen.drawPixel 2
    pop temp 0
    push local 0
    push constant 6
    add
    pop local 0
    goto Ground_10
label Ground_11
    push constant 0
    return
function Ground.moveUp 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 248
    lt
    push this 1
    and
    push constant 5
    gt
    not
    if-goto Ground_13
    push pointer 0
    call Ground.clearObject 1
    pop temp 0
    goto Ground_12
label Ground_13
label Ground_12
    push this 1
    push argument 1
    sub
    pop this 1
    push this 1
    push constant 248
    lt
    push this 1
    and
    push constant 5
    gt
    not
    if-goto Ground_15
    push pointer 0
    call Ground.drawObject 1
    pop temp 0
    goto Ground_14
label Ground_15
label Ground_14
    push constant 0
    return