function Main.main 0
    push pointer 0
    call Main.initializing 1
    pop temp 0
    call Background.showStart 0
    call Random.setSeed 1
    pop temp 0
    call Background.showMainBackground 0
    pop temp 0
label Main_0
    push static 10
    not
    not
    if-goto Main_1
    push static 2
    push static 6
    call Kid.updatePos 2
    pop temp 0
    push pointer 0
    call Main.groundMoving 1
    pop temp 0
    push static 9
    call Sys.wait 1
    pop temp 0
    goto Main_0
label Main_1
    push constant 10000
    call Sys.wait 1
    pop temp 0
    push static 11
    not
    if-goto Main_3
    call Background.showSucceed 0
    pop temp 0
    goto Main_2
label Main_3
    call Background.showFail 0
    pop temp 0
label Main_2
    push constant 0
    return
function Main.initializing 1
    push argument 0
    pop pointer 0
    push constant 100
    call Array.new 1
    pop static 0
    push constant 100
    call Array.new 1
    pop static 1
    push constant 80
    pop static 7
    push constant 256
    pop static 8
    push constant 1
    pop static 6
    push constant 500
    pop static 9
    push constant 0
    pop static 10
    push constant 0
    pop static 11
    push pointer 0
    push constant 100
    call Main.generateRandNum 2
    pop temp 0
    push pointer 0
    call Main.initBackground 1
    pop temp 0
    push constant 1
    push static 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push local 0
    call Ground.getX 1
    push constant 30
    add
    pop static 3
    push local 0
    call Ground.getY 1
    push constant 5
    sub
    pop static 4
    push static 3
    push static 4
    push constant 5
    call Kid.new 3
    pop static 2
    push constant 0
    return
function Main.initBackground 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push constant 120
    pop local 1
label Main_4
    push local 0
    push constant 100
    lt
    not
    if-goto Main_5
    push constant 2
    call Random.randRange 1
    pop static 5
    push static 5
    push constant 0
    eq
    not
    if-goto Main_7
    push local 0
    push static 0
    add
    push local 0
    push static 1
    add
    pop pointer 1
    push that 0
    push constant 80
    add
    push local 1
    push constant 1
    call Ground.new 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    goto Main_6
label Main_7
    push local 0
    push static 0
    add
    push local 0
    push static 1
    add
    pop pointer 1
    push that 0
    push constant 80
    add
    push local 1
    push constant 0
    call Ground.new 3
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
label Main_6
    push local 1
    push static 7
    add
    pop local 1
    push local 0
    push constant 1
    add
    pop local 0
    goto Main_4
label Main_5
    push constant 0
    return
function Main.gameFail 0
    push constant 1
    neg
    pop static 10
    push constant 0
    pop static 11
    push constant 0
    return
function Main.groundMoving 2
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Main_8
    push local 0
    push constant 10
    lt
    not
    if-goto Main_9
    push local 0
    push static 0
    add
    pop pointer 1
    push that 0
    pop local 1
    push local 1
    push static 6
    call Ground.moveUp 2
    pop temp 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Main_8
label Main_9
    push local 1
    call Ground.getY 1
    push constant 150
    lt
    push static 8
    and
    push constant 240
    gt
    not
    if-goto Main_11
    push pointer 0
    call Main.drawEnd 1
    pop temp 0
    goto Main_10
label Main_11
label Main_10
    push local 1
    call Ground.getY 1
    push constant 3
    push constant 1
    add
    lt
    push static 2
    call Kid.getOnGround 1
    and
    not
    if-goto Main_13
    push constant 1
    neg
    pop static 11
    push constant 1
    neg
    pop static 10
    goto Main_12
label Main_13
label Main_12
    push constant 0
    return
function Main.checkOnGround 2
    push constant 0
    pop local 1
label Main_14
    push local 1
    push constant 100
    lt
    not
    if-goto Main_15
    push local 1
    push static 0
    add
    pop pointer 1
    push that 0
    pop local 0
    push argument 1
    push argument 2
    add
    push local 0
    call Ground.getY 1
    eq
    push argument 0
    push local 0
    call Ground.getX 1
    push constant 1
    sub
    gt
    and
    push argument 0
    push local 0
    call Ground.getX 1
    push local 0
    call Ground.getLen 1
    add
    lt
    and
    not
    if-goto Main_17
    push local 0
    call Ground.getType 1
    push constant 1
    eq
    not
    if-goto Main_19
    call Main.gameFail 0
    pop temp 0
    goto Main_18
label Main_19
label Main_18
    push constant 1
    neg
    return
    goto Main_16
label Main_17
label Main_16
    push local 1
    push constant 1
    add
    pop local 1
    goto Main_14
label Main_15
    push static 8
    push constant 256
    eq
    not
    push static 8
    push argument 1
    push argument 2
    add
    eq
    and
    not
    if-goto Main_21
    push constant 1
    neg
    return
    goto Main_20
label Main_21
label Main_20
    push constant 0
    return
function Main.generateRandNum 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
label Main_22
    push local 0
    push argument 1
    lt
    not
    if-goto Main_23
    push local 0
    push static 1
    add
    push constant 280
    call Random.randRange 1
    pop temp 0
    pop pointer 1
    push temp 0
    pop that 0
    push local 0
    push constant 1
    add
    pop local 0
    goto Main_22
label Main_23
    push constant 0
    return
function Main.drawEnd 0
    push argument 0
    pop pointer 0
    push static 8
    push constant 1
    sub
    pop static 8
    push constant 1
    call Screen.setColor 1
    pop temp 0
    push constant 0
    push static 8
    push constant 511
    push static 8
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function Main.getLayerEnd 0
    push static 8
    return