function Trap.new 0
    push constant 5
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    push constant 7
    add
    pop this 1
    push constant 60
    pop this 2
    push constant 3
    pop this 3
    push constant 7
    pop this 4
    push pointer 0
    call Trap.drawTrap 1
    pop temp 0
    push pointer 0
    return
function Trap.drawTrap 0
    push argument 0
    pop pointer 0
    push pointer 0
    push constant 1
    call Trap.onScreen 2
    pop temp 0
    push constant 0
    return
function Trap.clearTrap 0
    push argument 0
    pop pointer 0
    push pointer 0
    push constant 0
    call Trap.onScreen 2
    pop temp 0
    push constant 0
    return
function Trap.onScreen 1
    push argument 0
    pop pointer 0
    push constant 0
    pop local 0
    push argument 1
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push this 2
    add
    push this 1
    push this 3
    add
    push constant 1
    sub
    call Screen.drawRectangle 4
    pop temp 0
    push this 0
    push this 4
    add
    push this 1
    push this 3
    add
    push constant 1
    sub
    push this 0
    push this 2
    add
    push this 4
    sub
    push this 1
    push this 3
    add
    call Screen.drawRectangle 4
    pop temp 0
label Trap_0
    push local 0
    push this 2
    lt
    not
    if-goto Trap_1
    push this 0
    push local 0
    add
    push constant 1
    add
    push this 1
    push constant 1
    sub
    push this 0
    push local 0
    add
    push constant 5
    add
    push this 1
    push constant 1
    sub
    call Screen.drawLine 4
    pop temp 0
    push this 0
    push local 0
    add
    push constant 2
    add
    push this 1
    push constant 2
    sub
    push this 0
    push local 0
    add
    push constant 4
    add
    push this 1
    push constant 2
    sub
    call Screen.drawLine 4
    pop temp 0
    push this 0
    push local 0
    add
    push constant 3
    add
    push this 1
    push constant 3
    sub
    call Screen.drawPixel 2
    pop temp 0
    push local 0
    push constant 6
    add
    pop local 0
    goto Trap_0
label Trap_1
    push constant 0
    return
function Trap.moveUp 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Trap.clearTrap 1
    pop temp 0
    push this 1
    push argument 1
    sub
    pop this 1
    push pointer 0
    call Trap.drawTrap 1
    pop temp 0
    push constant 0
    return